/* Custom properties/variables  */
:root {
  --orange: #ffce1d;
  --pink: #ff1d83;
  --blue: #1de8ff;
}

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
}

header {
  background-color: var(--orange);
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  padding: 0.25em;
}

header h1 {
  font-size: 70px;
  margin-top: 0em;
  margin-bottom: 0em;
}

header h2 {
  font-size: 30px;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0.3em;
}

nav {
  background-color: var(--pink);
  font-family: 'Nova Mono', monospace;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav h2 {
  margin: 0;
}

.contents {
  color: black;
}

.contents:hover {
  color: var(--orange);
}

section {
  min-height: 100vh;

  font-size: 20px;
  line-height: 2;
}

section h2 {
  padding-top: 5vh;
  font-family: 'Nova Mono', monospace;
  text-align: center;
}

section p {
  padding-left: 5vw;
  padding-right: 5vw;
}

#carousel {
  height: 70vh;
}

#carousel, #fandc, #prereqs, #robot{
  background-color: var(--blue);
}

#bio, #me, #bytesized{
  background-color: var(--white);
}

footer {
  background-color: var(--orange);
  text-align: center;
  margin-bottom: -1.5em;
  margin-top: -1.5em;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
