/*Custom properties/variables*/

:root {
  --orange: #ffce1d;
  --pink: #ff1d83;
  --blue: #1de8ff;
}

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
}

/*Header section fonts, coloring and margins*/

header {
  background-color: var(--orange);
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  padding: 0.25em;
}

header h1 {
  font-size: 70px;
  margin-top: 0em;
  margin-bottom: 0em;
}

header h2 {
  font-size: 30px;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0.3em;
}

/*Navigation bar fonts, coloring and margins*/

nav {
  background-color: var(--pink);
  font-family: 'Nova Mono', monospace;
  text-align: center;
  /*make navigation bar stay at the top of the page when scrolling down*/
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav h2 {
  margin: 0;
}

.contents {
  color: black;
}

.contents:hover {
  color: var(--orange);
}

/*Alternate the background coloring of individual webpage sections identified in the navigation bar*/

#home, #fandc, #prereqs, #robot{
  background-color: var(--blue);
}

#bio, #me, #bytesized{
  background-color: var(--white);
}

/*Sizing of the webpage sections identified in navigation bar, fonts, text alignment*/

section {
  min-height: 100vh;

  font-size: 20px;
  line-height: 2;
}

section h2 {
  padding-top: 5vh;
  font-family: 'Nova Mono', monospace;
  text-align: center;
}

section p {
  padding-left: 5vw;
  padding-right: 5vw;
}

/*All buttons on webpage - including 'Home'(carousel) and 'Robot Prototype' sections*/

button {
  background-color: var(--pink);
  height: 3em;
  font-family: 'Nova Mono', monospace;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--orange);
}

/*Unique sizing of the first 'home' section of the webpage, containing the carousel and the control panel*/

#home {
  min-height: 80vh;
}

/*Sizing and positioning of 'carousel' div (containing the viewer and arrow buttons)*/

#carousel {
  height: 30vw;
  padding-top: 5vw;
  position: relative;

  background-color: yellow;
}

/*Shared sizing and positioning of the arrow buttons for the carousel*/

.carousel__arrows {
  font-size: 3.5vw;

  padding: 1vw 1vh;
  margin: 1vw 1vh;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*Positioning the previous arrow button*/
.carousel__arrows--prev {
  left: 5vw;
}

/*Positioning the next arrow button*/
.carousel__arrows--next {
  right: 5vw;
}

/* On hover, add a black background color*/
.carousel__arrows:hover {
  background-color: black;
  color: var(--orange);
  transition: 1s;
}

/*Sizing and positioning of carousel viewing window, as well as the border*/

#carousel__viewer {
  height: 25vw;
  width: 75vw;

  margin: 0 auto;

  position: relative;

  border-style: solid;
  border-width: medium;
  border-color: black;

  overflow: hidden;
}

/*Deck(list) of slides for the viewer*/
#carousel__deck {
  list-style: none;

  margin: 0;
}

/*Size and positioning of individual slides within the queue(list)*/
.carousel__slide {
  height: 25vw;
  width: 75vw;

  position: absolute;

  left:0;
}

.image{
  height: inherit;
  width: inherit;
}

footer {
  background-color: var(--orange);
  text-align: center;
  margin-bottom: -1.5em;
  margin-top: -1.5em;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
